body {
    margin: 20px;
    font-family: 'Rubik', sans-serif;
}

.avatar {
    width: 150px;
    border-radius: 50%;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #d4cd96;
    color: #302f34;
    border: 6px solid #302f34;
}

.border-blue {
    border: 1px dotted blue;
}